<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s3.bankbook.BankBookDAO">
	
	<update id="setUpdate" parameterType="com.iu.s3.bankbook.BankBookDTO">
		update bankbook set bookName=#{bookName}, bookRate=#{bookRate}, bookSale=#{bookSale} where bookNumber=#{bookNumber}
	</update>

	<insert id="setWrite" parameterType="com.iu.s3.bankbook.BankBookDTO">
		insert into bankbook values(bank_seq.nextval, #{bookName},#{bookRate},#{bookSale})
	</insert>
	
	<select id="getSelect" parameterType="com.iu.s3.bankbook.BankBookDTO" resultType="com.iu.s3.bankbook.BankBookDTO">
		select * from bankbook where bookNumber=#{bookNumber}
	</select>
	
	<select id="getList" resultType="com.iu.s3.bankbook.BankBookDTO">
		select * from bankbook order by bookNumber desc
	</select>
	
	<delete id="setDelete" parameterType="com.iu.s3.bankbook.BankBookDTO">
		delete bankbook where booknumber = #{bookNumber}
	</delete>
	

</mapper>  